body{
	font-family: 'Slabo 27px', serif;;
}

h1{
	font-family: 'Slabo 27px', serif;
}

h2{
	font-family: 'Slabo 27px', serif;
}

h3{
	font-family: 'Slabo 27px', serif;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}